// Copyright (c) 2012-2018, The CryptoNote developers, The Bytecoin developers.
// Licensed under the GNU Lesser General Public License. See LICENSE for details.

#include "version.hpp"
/////////////////////////////////////////////////////////////////////////////
//
// Version
//

1 VERSIONINFO
 FILEVERSION bytecoin_VERSION_WINDOWS_COMMA
 PRODUCTVERSION bytecoin_VERSION_WINDOWS_COMMA
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Bytecoin Developers"
            VALUE "FileDescription", "Bytecoin"
            VALUE "FileVersion", bytecoin_VERSION_STRING
            VALUE "InternalName", "Bytecoin"
            VALUE "LegalCopyright", "Copyright (C) Bytecoin Developers 2012-2018"
            VALUE "OriginalFilename", "Bytecoin"
            VALUE "ProductName", "Bytecoin"
            VALUE "ProductVersion", bytecoin_VERSION_STRING
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
101               ICON                    "bytecoin.ico"
